* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #171717;
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    background-color: #232323;
    padding: 20px;
    margin-block: 30px;
    display: flex;
    gap: 20px;
}

/* left part */

.left-part {
    width: 50%;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#review-box {
    font-size: 18px;
    outline: none;
    line-height: 1.2;padding: 5px;
    border: none;
    background-color: #313131;
    color: #fff;
}

.name-input-box {
    display: flex;
    align-items: center;
    font-size: 20px;
}

#name-input {
    font-size: 18px;
    padding: 8px;
    margin-left: 20px;
    outline: none;
    border: none;
    background-color: #313131;
    color: #fff;
    width: fit-content;
}

#name-input::placeholder {
    font-size: 16px;
}

.rating-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-block: 20px;
}

.rating {
    font-size: 20px;
}

.rating-star-box {
    display: flex;
    gap: 10px;
}

.rating-star {
    width: 30px;
}


.submit {
    margin: 20px 0 0 0;
    padding: 6px 30px;
    border: none;
    border-radius: 2px;
    font-size: 20px;
    background-color: rgb(183, 78, 2);
    color: #fff;
}

/* right part */
.right-part {
    width: 50%;
    height: 83vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.review-message-box {
    background-color: #313131;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.avatar-img {
    background-color: purple;
    padding: 10px 14px;
    height: fit-content;
    border-radius: 50%;
}

.avatar-name-box {
    /* background-color: peru; */
}

.avatar-name {
    font-size: 18px;
    font-weight: 600;
}

.avatar-rating-box {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.avatar-ratings {
    display: flex;
    gap: 5px;
}

.avatar-rating-icon {
    width: 13px;
}

.review-submit-time {
    font-size: 12px;
    color: #c7c7c7;
}

.avatar-review {
    margin-top: 20px;
    line-height: 1.3;
}